# VITE_SUPABASE_URL="https://zwbmhywtfjmqeftwaojq.supabase.co"
# VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp3Ym1oeXd0ZmptcWVmdHdhb2pxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDY1MzYzOTksImV4cCI6MjA2MjExMjM5OX0.RdnD7764z0GBEsKzFNlU7x2jdo0fb1gI_YIW_UK-JR4"